@import "null-styles.scss";

@font-face {
    font-family: 'Roboto';
    font-style: normal; 
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'),
         local('Roboto-Regular'),
         url('/fonts/Roboto-Regular.eot'),
         url('/fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Roboto-Regular.woff2') format('woff2'),
         url('/fonts/Roboto-Regular.woff') format('woff'),
         url('/fonts/Roboto-Regular.ttf') format('ttf'),
         url('/fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');        
  }

body{
    font-family: 'Roboto';
    font-weight: normal;
  }

$defaultOffset: 5px;

$screenWidth-smallMobile: 320px;
$screenWidth-bigMobile: 480px;
$screenWidth-bigTablet: 768px;
$screenWidth-smallDesktop: 992px;
$screenWidth-desktop: 1200px;

/* Section 1 */

$menu-text-size: 13px;
$button-menu-size: 13px;
$intro-title-size: 42px;
$description-text-size: 11px; 
$buttons-size: 15px;
$partner-title-size: 26px; 

//menu text, intro-description, blue buttons, 
//info-text, partner-subtitle
$base-line-height: 30px; 
$button-line-height: 16px; //button menu
$titles-line-height: 50px;
$title2-line-height: 38px; //parner-title, 

$color-white: #FFFFFF;
$color-blue: #0A8BFE;
$color-grey: #737373;
$color-black: #000000;
$color-light-grey:  #E5E5E5;

$border: 1px solid #E8E8E8;

%default-fontstyle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
}

@mixin size-lheight ($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}

.container_dark-blue{
  background: #0D0D33;
  max-height: 800px;
  width: 100%;
}

.main-background {
  background: no-repeat url("../img/intro/background-image.jpg");
  background-size: cover;
  background-position: top center;
  max-width: 1190px;
  max-height: 730px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 150px;//why space-between doesn t work without gap?
  margin: 0 auto;
  max-width: 1190px;
  max-height: 800px + 1458px;
}
//wrapper - contains header intro main..why space between works 
//uncorrectly? 

//to make another flex-containers


// .wrapper > * {
//   flex-grow: 0;
//   flex-shrink: 1;
//   flex-basis: auto;
// }
.header {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  justify-self: flex-start;
  height: 91px;
  //margin-bottom: $defaultOffset*30;//to divide on 150px parts
  //and make flex container 1 - with 3 big parts
  //and within them..you can watch video
}
.header__logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  margin-top: 55px;
}

.logo__icon {
}
.logo__text {
  margin: 8px 0 0 8px;
}
.header__nav {
  margin-top: 51px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.nav {
}
.nav__menu {
  
}
.menu {
}
.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menu__item {
  margin: 4px 0 0 50px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
.menu__link {
  @extend %default-fontstyle;
  @include size-lheight($button-menu-size, $base-line-height);
  color: $color-white;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;

}
.nav__form {
  margin-left: 52px;
}
.nav__button {
  border: $border;
  background: transparent;
  @extend %default-fontstyle;
  @include size-lheight($button-menu-size, $button-line-height);
  color: $color-white;
  padding: 12px 15px 12px 16px;
  max-width: 138px;
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.intro { //TODO
  height: 290px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.intro__greeting { //TODO
  background: #0D0D33;
  max-height: 290px;
}

.intro__title {
  @extend %default-fontstyle;
  @include size-lheight($intro-title-size, $titles-line-height);
  color: $color-white;
}
.intro__description {
  @extend %default-fontstyle;
  @include size-lheight($description-text-size, $base-line-height);
  color: $color-white;
  margin-top: 35px;

}
.intro__button {
  //margin: 35px 0 200px 0;
  padding: 15px 37px;
  max-width: 173px;
}
.button {
  background: $color-blue;
  border-radius: 4px;
}
.button__link {
  @extend %default-fontstyle;
  @include size-lheight($buttons-size, $base-line-height);
  color: $color-white;
}

.container_light-grey{
  color: $color-light-grey;
  max-height: 1458px;
  width: 100%;
}

.intro__partner {

  margin-top: -70px;
  background: $color-white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0px;
  z-index: 3;
  display: flex;
  flex: 1 1;
}
.partner__head-wrapper {
  border-right: $border;
  margin: 50px 0 50px 40px;
}

.partner__head {
  padding: 46px 53px 37px 0;
}
.partner__title {
  @extend %default-fontstyle;
  @include size-lheight($partner-title-size, $title2-line-height);
  color: $color-black;
  margin: 0 0;
}
.partner__subtitle {
  @extend %default-fontstyle;
  @include size-lheight(16px, $base-line-height);
  color: $color-grey;
  margin-top: 1px;
}
.partner__info {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  margin: 95px 53px 35px 79px;
}
.info__text {
  @extend %default-fontstyle;
  @include size-lheight($description-text-size, $base-line-height);
  color: $color-grey;
}

.info__text{
  padding-left: 20px;
}
.text_1{
  padding: 0 0;
}


.text_3{
  padding: 0px 0px 0px 45px;
}

.text_4{
  padding: 0 0;
}


.text_6{
  padding-left: 45px;
}

/* Section 1 */

/*  Section 2 */

$main-title-size: 41px; 
$where-descr-size: 12px;
$where-option-size: 23px; 
$where-title-size: 19px; 
$where-subtitle-size: 16px;

$main-title-line-height: 50px; 
$where-option-line-height: 38px; 
$where-title-line-height: 28px; 

.main{
  height: 878px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.where {
  z-index: 2;
  background: $color-white;
  display: flex;
  flex-direction: column;
  flex: 1 1;
}
.wrapper-where{
  display: flex;
  flex-direction: column;
}
.where__title {
  @extend %default-fontstyle;
  @include size-lheight($main-title-size, $main-title-line-height);
  color: $color-black;
  text-align: center;
  //margin-top: 360px;//убрать margin - flex использовать вместо этого. margin - до 50px; position - можно.
  
}
.where__description {
  @extend %default-fontstyle;
  @include size-lheight($where-descr-size, $base-line-height);
  color: $color-grey;
  text-align: center;
  margin-top: 35px;
}
.where__option-wrapper {
  //margin-top: 85px;
  display: flex;
  justify-content: center;
  flex: 1 1;
}
.where__option:first-child {
  margin: 0 0;
}
.where__option {
  //margin-left: 100px;//flex ом уменьшить.
}
.where__link {
  @extend %default-fontstyle;
  @include size-lheight($where-option-size, $where-option-line-height);
  color: $color-black;
}
.where__link_blue {
  color: $color-blue;
}
.where__info-wrapper {
  //margin: 50px 140px 0 140px;//убрать мардждин
  display: grid;
  justify-content: center;
  grid-template: repeat(2, 220px) / repeat(2, 560px);
  grid-gap: 40px;
}
.where__info {
  border: $border;
  padding: 38px 60px 41px 40px;
}
.where__info-title {
  @extend %default-fontstyle;
  @include size-lheight($where-title-size, $where-title-line-height);
  color: $color-black;
}
.where__info-subtitle {
  @extend %default-fontstyle;
  @include size-lheight($where-subtitle-size, $base-line-height);
  color: $color-grey;
  margin-top: 23px;
}
.where__button {
  //margin: 50px 0 150px 0;//убрать марджин
  padding: 15px 49px;
  align-self: center;
}

.button__link{
  @extend %default-fontstyle;
  @include size-lheight($buttons-size, $base-line-height);
  color: $color-white;
}

/*  Section 2 */